@media screen and (max-width: 700px) {
   .tit-timelaw {
       width: 267px;
       height: 126px;
       margin-top: 41px;
       margin-bottom: 31px;
       background-size: 126px;
   }

   .title {
       width: 267px;
   }

   .sub-title {
       font-size: 22px;
       margin-bottom: 62px;
   }

   .txt-desc {
       font-size: 14px;
       line-height: 2em;
       margin-bottom: 52px;
   }

   .txt-desc strong {
       font-size: 14px;
   }

   .quotes {
       width: 302px;
       padding: 30px;
   }

   .cont-inp {
       display: flex;
       flex-direction: column;
       font-size: 14px;
       margin-bottom: 49px;
   }

   .cont-inp input {
       width: 156px;
       height: 37px;
       margin: 0px 4px;
       border-radius: 7px;
       border: none;
       text-align: center;
       font-family: inherit;
       font-size: 14px;
   }

   .everyday {
       display: block;
       margin: 17px 0 19px 0;
   }

   .btn-wrap {
       margin-bottom: 64px;
   }

   .btn {
       height: 40px;
       font-size: 14px;
       white-space: pre-line;
   }

   .exc {
       width: 241px;
       height: 68px;
       border-radius: 13px;
   }

   .click {
       width: 43px;
       right: -50px;
       bottom: -10px;
   }

   .logo {
       width: 91px;
       margin-bottom: 17px;
   }

   .cont-footer {
       font-size: 9px;
       line-height: 13px;
       margin-bottom: 32px;
       color: rgba(255, 255, 255, 0.7);
   }

   .go {
       width: 186px;
       margin-right: 13px;
       margin-bottom: 55px;
   }
   
   .share {
       width: 92px;
       background-color: #FFFFFF;
       margin-right: 0;
   }

   #result {
       font-size: 14px;
       margin-bottom: 40px;
   }
   
   .result-wannabe, .result-time {
       margin-bottom: 15px;
   }
   
   .result-wrapper strong {
       font-size: 24px;
       margin: 0 8px;
   }

   /* modal */
   .cont-modal.active {
       width: 330px;
       height: 500px;
       padding: 40px 44px;
   }

   .cont-modal p {
       font-size: 36px;
       line-height: 40px;
   }
   
   .cont-modal p strong {
       font-size: 64px;
       line-height: 70px;
   }

   .heart {
       display: none;
   }
   
   .cont-modal img {
       width: 230px;
   }

   .exit {
       width: 241px;
       height: 68px;
       font-size: 14px;
       padding: 17px 40px;
       border-radius: 13px;
       margin: 0;
   }
}