@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

/* Component */
body {
    background-color: #5B2386;
    color: white;
    font-family: 'GmarketSansMedium';
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tit-timelaw {
    position: relative;
    width: 765px;
    height: 265px;
    margin-top: 120px;
    margin-bottom: 46px;
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    position: absolute;
    width: 564px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-title {
    font-family: 'OTEnjoystoriesBA';
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 78px;
    color: #F5DF4D;
}

.txt-desc {
    display: flex;
    height: 85px;
    font-size: 18px;
    /* font-family: 'GmarketSansMedium'; */
    line-height: 34px;
    margin-bottom: 102px;
    justify-content: center;
}

.txt-desc strong {
    font-size: 24px;
    font-family: 'GmarketSansBold';
}

.quotes {
    position: absolute;
    padding-top: 13px;
}

.cont-inp {
    /* font-family: 'GmarketSansMedium'; */
    font-size: 24px;
    margin-bottom: 88px;
}

.cont-inp input {
    width: 228px;
    height: 57px;
    border-radius: 7px;
    border: none;
    margin: 0 10px 27px 10px;
    text-align: center;
    font-family: inherit;
    align-items: center;
    font-size: 24px;
}

.btn-wrap {
    position: relative;
}

.btn {
    height: 66px;
    background-color: #FCEE21;
    font-family: 'GmarketSansBold';
    font-size: 24px;
    color: #5B2386;
    cursor: pointer;
    border-radius: 56px;
    border: none;
    margin-bottom: 115px;
}

.exc {
    width: 565px;
}

.click {
    position: absolute;
    right: -75px;
    bottom: 100px;
}

.cont-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Noto Sans KR';
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 70px;
}

.cont-footer small {
    margin: 20px;
}

/* .result-wrapper {
    display: none;
} */

#result {
    font-family: 'GmarketSansMedium';
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 117px;
}

.result-wannabe, .result-time {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.result-wrapper strong {
    font-family: 'GmarketSansBold';
    font-size: 72px;
    margin: 0 12px;
}

.go {
    width: 356px;
    margin-right: 18px;
}

.share {
    width: 191px;
    background-color: #FFFFFF;
    margin-right: 0;
}

.blind {
    position:absolute;
    /*요소를 띄워서 주변 레이아웃에 영향을 끼치지 않도록함*/
    width:1px;
    height:1px;
    /*크기를 0이 아닌 1px로 주어서 스크린리더가 읽을 수 있도록 함*/
    clip:rect(0 0 0 0);
    margin:-1px;
    overflow:hidden;
    /*눈에 보이는 부분을 제거*/
}

.cont-modal {
    display: none;
    width: 800px;
    height: 800px;
    border-radius: 30px;
    background-color: #FFFFFF; 
}

.cont-modal.active {
    display: block;
}